{{< mod_slides/slideitem }}
    {{$slidebodycontents}}
    <div class="slide-video-contents">
        {{> mod_slides/listencontentlist}}
    </div>
    {{/slidebodycontents}}
{{/mod_slides/slideitem }}
