{{$ listencontent}}
    {{#contentitems}}
    <div class="listen-content-item {{contentclasses}} {{^viewed}}hide{{/viewed}} {{#viewed}}viewed{{/viewed}} {{#hidelisten}}hide-listen{{/hidelisten}}"
        data-animation="{{animation}}"
        data-index="{{contentitemindex}}"
        data-currentItem="{{#currentitem}}true{{/currentitem}}">

        <div class="img-block">
            <img class="d-block w-100" src="{{{posterimage}}}" alt="posterimage">
        </div>

        {{#listenaudio}}
        <div class="listenaudio">
            <audio controls="controls">
                <source src="{{listenaudio}}">
            </audio>
        </div>
        {{/listenaudio}}
    </div>
    {{/contentitems}}
{{/listencontent}}
