
<div class="autosplit-parent">
    <div class="autosplit-wrapper">
        <div class="row">

            <div class="autosplit-form-section col-6">
                {{{form}}}
            </div>

            <div class="autosplit-preview-section col-6 border height-auto">
            </div>

        </div>

    </div>
</div>
